<div style="text-align: center;">
    <h1>Welcome to °°TD</h1>

    <br>
    <br>

    <h4>We are an easy-to-use and efficient daily outfit recommendation app!</h4>
    <h4>We use real-time weather information to give you the best suggestions!</h4>
</div>
