<div style="text-align: center;">
    <h1>Please enter your username:</h1>

    <br>
    <br>

    <input type="text"></input>


    <h1 id="loginbutton">
        <%= link_to 'Login', :onclick => login_user() %> 
    </h1>

    <div class="hidden" id="your_id">
        MarkSai has logged in!
    </div>
</div>
