<div style="text-align: center;">
    <h1>Welcome MarkSai!</h1>

    <br>
    <br>

    <p>Upload a photo to the world!</p>

    <button id="uploadbutton" type="button" onclick=" alert(this)" class="btn btn-primary">Upload</button>

    <div class="hidden" id="photo_id">
        <%= image_tag(ActionController::Base.helpers.asset_path("selfie.jpeg")) %>
    </div>
</div> 


