<div style="text-align: center;">
    <h1>Welcome MarkSai!</h1>

    <br>
    <br>

    <p>Upload a photo to the world!</p>

    <button id="uploadbutton" type="button" onclick="(function() { document.getElementById('photo_id').style.display = 'block'; })()" class="btn btn-primary">Upload</button>
    <br>
    <br>
    <br>

    <div class="hidden" id="photo_id">
        <p>Your upload:</p>
        <%= image_tag(ActionController::Base.helpers.asset_path("selfie.jpeg")) %>
    </div>

    <br>
    <br>
    <br>

    <div>
        <p>SaiMark uploaded:</p>
        <%= image_tag(ActionController::Base.helpers.asset_path("friendsupload.jpeg"), :size => "500x550") %>
    </div>

</div> 


