<div style="text-align: center;">
    <h1>Welcome to wasedfasdf</h1>

    <br>
    <br>

    <p>We are a easy-to-use and efficient daily outfit recommendation app!</p>
    <p>We use real-time weather information to give you the best suggestions!</p>
</div>
