<div style="text-align: center;">
    <h1>Suggested OOTD:</h1>

    <br>
    <br>

    Your current city is Ann Arbor!
    <p>Today's weather is:</p>
    <p><%= @main %> and <%= @feels_like_in_F %> °F</p>
</div>
